<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo" routerLink="/">
      <img src="assets/branding/logo.jpg" alt="Zentry Logo" class="logo-img">
      <span class="logo-text">ZENTRY <span class="accent">EVENTOS</span></span>
    </div>
    <div class="navbar-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Inicio</a>

      @if (authService.isLoggedIn()) {
        <div class="user-info">
          <span class="user-name">{{ authService.currentUser()?.nombreDeUsuario }}</span>
          <span class="user-rol">({{ authService.currentUser()?.roles?.[0] }})</span>
          <button class="btn-logout" (click)="logout()">Cerrar Sesión</button>
        </div>
      } @else {
        <button class="btn-login" routerLink="/login">Iniciar Sesión</button>
      }
    </div>
  </div>
</nav>
